@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }
}

@layer components {
  .maximum-width {
    @apply max-w-screen-2xl mx-auto w-full px-5 sm:px-10;
  }

  .hero-height {
    @apply h-[calc(100dvh-3.2rem)];
  }

  .dynamic-hero-height {
    @apply min-h-[calc(100dvh-3.2rem)];
  }

  .main-heading {
    @apply text-lg xs:text-2xl font-medium sm:text-4xl md:text-6xl xl:text-7xl leading-none capitalize;
  }

  .swiper-custom-bullet {
    @apply size-2.5 xs:size-3 bg-secondary/20 rounded-full;
  }

  .swiper-custom-bullet-active {
    @apply bg-primary;
  }

  .card-with-shadows {
    @apply shadow-md hover:shadow-lg p-3 xs:p-5 transition;
  }
}
